<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2>Angular  Application</h2>
 
  <ul class="nav nav-pills">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link active" routerLink="/">Home</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link active" routerLink="about">About</a>
    </li>&nbsp;&nbsp;
    
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link active" routerLink="login">Login</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active" routerLink="register">Register</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item" routerLinkActive="active">
        
  </ul>
  <router-outlet></router-outlet>
  <p>  
    <!-- <app-employee></app-employee>   -->
  </p>  
  
</div>







